<h2>Legendary Routing Artifact Found!</h2>
<p>Wait!! What are you doing here?!! There should of been a guard to stop you!! Do not use this artifact!! Turn away and close this modal! It is too powerful and has unpredictable routing powers!!</p>
<figure>
  <img class="img-size" src="/assets/legendary-routing-artifact.png" alt="your screen reader is in awe with the awesome power of the legendary routing artifact.. There can be no words to describe it..">
</figure>
<a class="btn btn-success d-inline-block m-2" [href]="useArtifact()">COLLECT ARTIFACT AND USE IT!</a>
<app-close-modal-button class="d-inline-block m-2" buttonText="CLOSE MODAL AND LEAVE ARTIFACT ALONE"></app-close-modal-button>