<h2>Lazy Route Param Modal</h2>
<div class="mb-3">
  <p class="mb-0">Use Route Master to capture Route Parameters</p>
  <small class="mb-3 d-block">
    Necessary as Angular's ActivatedRoute route parameters are not yet available for lazy components.
  </small>
  <p><strong>Route Param Key:</strong> ':id'</p>
  <p><strong>Captured Route Param:</strong> '{{ paramMapData }}'</p>
  <p><strong>Typeof Captured Route Param:</strong> {{ paramDataType }}</p>
</div>

<app-close-modal-button></app-close-modal-button>
