

<!-- App Document -->
<app-navbar></app-navbar>
<main class="p-3">
  <app-header></app-header>
  <section>
    <hr>
    <router-outlet></router-outlet>
  </section>
</main>

<!-- App Positioned Elements -->
<div class="app-background position-center" [class.should-show]="router.url.includes('(ng-router-app-wide-modal:') || router.url.includes('(rm-router-app-wide-modal:') || router.url.includes('(custom-classes-modal:')"></div>
<app-spinner class="position-center" [class.should-show]="rm.getOutlet('rm-router-app-wide-modal').isResolving || rm.getOutlet('custom-classes-modal').isResolving"></app-spinner>
<div  class="app-wide-modal-container position-center" [class.should-show]="!rm.getOutlet('rm-router-app-wide-modal').isResolving 
&& (
      router.url.includes('(ng-router-app-wide-modal:') 
      || router.url.includes('(rm-router-app-wide-modal:')
      || router.url.includes('(custom-classes-modal:')
    )">
  <!-- Regular Angular Router-Outlet -->
  <router-outlet name="ng-router-app-wide-modal"></router-outlet>
  <!-- Route Master Router-Outlet -->
  <lay-router [animationDuration]="500" #appWideModal name="rm-router-app-wide-modal"></lay-router>
  <!-- Styled Modal Demo -->
  <lay-router [animationDuration]="500" #appWideModal name="custom-classes-modal"></lay-router>
</div>
 

<!-- Necessary for Angular 6 Compatibility -->
<div style="display: none">
  <router-outlet name="rm-router-app-wide-modal"></router-outlet>
  <router-outlet  name="custom-classes-modal"></router-outlet>
</div>