<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand d-flex justify-content-start align-items-center" [routerLink]="home.path">
    <span class="logo d-inline-block p-3 mr-2"></span>
    <span>Route Master</span>
  </a>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex flex-row justify-content-between align-items-center">
      <li *ngFor="let nav of navs" class="nav-item">
        <a class="nav-link pl-3 pr-3" [routerLink]="nav.path" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ nav.name }}</a>
      </li>
    </ul>
  </div>
</nav>
